<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ question_text }}</title>
</head>
<body>

<div class="questionnaire-container">
	<div class="question-container">
	    <div class="context">
	        {{ context }}
	    </div>
		<div class="question">
			<p>{{ question_text }}</p>
		</div>
	    <form action="{{ url_for('question', question_number=question_number) }}" method="post" id="question-form">    
	        <div class="answers">
			    {% for option in options %}
				    <input type="radio" name="answer" value="{{option}}" id="answer{{ loop.index }}"
				           {% if loop.first %}required{% endif %}
						   {% raw %}
						   {% if
						   {% endraw %}
						   "{{option}}"
						   {% raw %}
								   == saved_answer[0] %}checked
							{% endif %}
						   {% endraw %}
						   >
				    <label for="answer{{ loop.index }}">{{option}}</label>
				    <br>
				{% endfor %}
			</div>
			<div class="navigation">

				{% raw %}
					<!-- Back Button -->
					{% if prev_question_number %}
						<a href="{{ url_for('question', question_number=prev_question_number) }}" class="button" id="back-button">Back</a>
					{% endif %}

					<!-- Next Button -->
					<button type="submit" name="action" value="Submit" class="button" id="submit-button">Next</button>

				{% endraw %}


			</div>
	    </form>
	</div>
</div>

<div style="position: fixed; left: 0; right: 0; bottom: 0; background-color: #f9f9f9; font-size: 12px; border-top: 1px solid #ccc; padding: 10px; text-align: center; box-sizing: border-box;">
	<strong>Important Resources:</strong>
	<p>If you experience stress, anxiety, or emotional distress, reach out to a professional:</p>
	<ul style="list-style: none; padding: 0; margin: 0; display: inline-block; text-align: left;">
		<li>7 Cups of Tea: <a href="http://www.7cupsoftea.com" target="_blank">www.7cupsoftea.com</a></li>
		<li>Crisis Hotline: <a href="http://www.iamalive.org" target="_blank">www.iamalive.org</a></li>
		<li>Crisis Text Line: <a href="http://www.crisistextline.org" target="_blank">www.crisistextline.org</a></li>
		<li>National Suicide Prevention Lifeline: <a href="tel:1-800-273-8255">1-800-273-8255</a> or <a href="tel:988">988</a></li>
	</ul>
</div>




<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
