<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ question_text }}</title>
</head>
<body>

<div class="questionnaire-container">
	<div class="question-container">
    <div class="context">
        {{ context }}
    </div>
	<div class="question">
		<p>{{ question_text }}</p>
	</div>
    <form action="{{ url_for('question', question_number=question_number) }}" method="post" id="question-form">    
		<div class="rating-scale">
		    {% for i in range(scale_range[0], scale_range[1] + 1) %}
		        <input type="radio" name="answer" value="{{ i }}" id="rating{{ i }}" required
					   {% raw %}
					   {% if
					   {% endraw %}
					   "{{i}}"
					   {% raw %}
					    == saved_answer %}checked{% endif %}
					   {% endraw %}
				>
		        <label for="rating{{ i }}">{{ i }}</label>
		    {% endfor %}
		</div>
		<div class="navigation">
			{% raw %}
				<!-- Back Button -->
				{% if prev_question_number %}
					<a href="{{ url_for('question', question_number=prev_question_number) }}" class="button" id="back-button">Back</a>
				{% endif %}

				<!-- Next Button -->
				<button type="submit" name="action" value="Submit" class="button" id="submit-button">Next</button>

			{% endraw %}


		</div>
    </form>
	</div>
</div>


<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<script src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>
</html>
